services:
  php:
    build:
      context: .
      dockerfile: dev.dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    user: ${UID:-1000}:${GID:-1000}
    volumes:
      - ../:/app
      - .bashrc:/var/www/.bashrc
    working_dir: /app