name: Build and push docker images
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
      - working-directory: docker-image

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5


      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}


      - name: Build the Docker image
        run: docker build -f docker/prod.dockerfile --tag dcq:latest
